<div class="max-w-5xl mx-auto p-8 bg-white rounded-lg shadow-md mt-12">
  <h2 class="text-3xl font-sherlock font-semibold mb-6 text-center text-gray-800">
    Contactanos
  </h2>

  <div class="flex flex-col md:flex-row gap-12">

    <form
      (ngSubmit)="onSubmit($event)"
      #formRef="ngForm"
      action="https://formspree.io/f/xwpqknod"
      method="POST"
      class="flex-1 space-y-6"
      novalidate
    >
      <div>
        <label class="block mb-1 font-medium text-gray-700">Nombre</label>
        <input
          type="text"
          name="name"
          required
          class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-yellow-400"
          placeholder="Nombre Completo"
        />
      </div>

      <div>
        <label class="block mb-1 font-medium text-gray-700">Email</label>
        <input
          type="email"
          name="email"
          required
          class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-yellow-400"
          placeholder="tumail@ejemplo.com"
        />
      </div>

      <div>
        <label class="block mb-1 font-medium text-gray-700">Consulta</label>
        <textarea
          name="message"
          required
          rows="5"
          placeholder="Escribí tu consulta acá..."
          class="w-full border border-gray-300 rounded-md px-4 py-2 resize-none focus:outline-none focus:ring-2 focus:ring-yellow-400"
        ></textarea>
      </div>

      <button
        type="submit"
        class="bg-cyan-800 text-white px-6 py-2 rounded-md hover:bg-cyan-900 shadow"
      >
        Enviar consulta
      </button>

      @if (enviado) {
        <div class="mt-4 text-green-600 bg-green-100 border border-green-300 px-4 py-2 rounded shadow-sm">
          ✅ ¡Tu consulta fue enviada correctamente!
        </div>
      } @else {
        <div class="mt-4 text-red-500 bg-green-100 border border-red-300 px-4 py-2 rounded shadow-sm">
          Complete todos los campos antes de enviar.
        </div>
      }
    </form>

    <div class="flex-1 bg-yellow-50 rounded-lg p-6 shadow-inner text-gray-800">
      <h3 class="text-2xl font-semibold mb-4">Información del local</h3>
      <p class="mb-3">
        <strong>Teléfono:</strong> <br />
        <a href="tel:+543517053156" class="text-yellow-600 hover:underline">+54 351 705-3156</a>
      </p>
      <p>
        <strong>Dirección:</strong> <br />
        Barrio Quebrada de las Rosas, <br />
        <a class="text-blue-600" href="https://maps.app.goo.gl/R1hUQKHuJyR1RMPB6" target="_blank">Local 1: Colón 5560</a><br />
        <a class="text-blue-600" href="https://maps.app.goo.gl/o9BeJVY97hc5pDcn7" target="_blank">Local 2: Av. Río Bamba y Duarte Quirós</a><br />
        Córdoba, Argentina
      </p>
      <p class="mb-3 py-2">
        <strong>Horarios:</strong> <br />
        10:00 a 13:00hs | 18:00 a 20:00hs<br />
        Lunes a Sábados
      </p>
    </div>
  </div>
</div>
