
@font-face {
  font-family: 'Sherlock';
  src: url('../public/assets/Sherlock.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";



@theme{
  --font-sherlock: Sherlock, 'sherlock';
}




